
/* General------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #b91616;
  margin-right: 12px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.clear-float {
  clear: both;
}

/*navbar----------------------------------------------*/

.navbar {
  background-color: #fff;
  padding: 10px 0;
  z-index: 9999;
}

/* Brand */
.navbar-brand {
  font-size: 28px;
  font-weight: 600;
  position: relative;
}

/* red dot */
.navbar-brand::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #CE1212;
  border-radius: 50%;
  position: absolute;
  bottom: 8px;
  right: -10px;
}

/* Links */
.nav-link {
  font-weight: 500;
  color: #6c757d;
  position: relative;
  padding-bottom: 6px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #000;
}

/* red underline */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #CE1212;
  transition: width 0.4s;
}

.nav-link:hover::after {
  width: 100%;
}

/* Offcanvas */
.offcanvas {
  width: 280px;
}

.offcanvas-body .nav-link {
  color: #6c757d;
}

.offcanvas-body .nav-link:hover {
  color: #000;
}

/* ===== Sun & Moon Toggle ===== */
.mode-toggle {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Hide sun by default */
.mode-toggle .sun {
  display: none;
}

/* when checkbox is checked → show sun */
#darkToggle:checked ~ .sun {
  display: inline-block;
  color:white;
}

/* when checkbox is checked → hide moon */
#darkToggle:checked ~ .moon {
  display: none;
}

/* checkbox ABOVE icons */
.dark-input {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

/* icons */
.moon,
.sun {
  font-size: 20px;
  color: #000;
  pointer-events: none;
}

/* default: show moon */
.moon{
    display: inline-block;
}

.sun {
  display: none;
}


/*home----------------------------------------------*/

#Home {
  background-color: rgb(238, 238, 238);
  height: 950px;
  display: flex;
  align-items: center;
  padding-top: 120px;
  margin-top: 60px;
}

.video-button {
  color: #000;
  transition: color 0.3s;
}

.video-button:hover,
.video-button:hover i {
  color: rgb(209, 0, 0) !important;
}


.home-img {
  max-width: 70%;
}

.home-img:hover {
  animation: shake 0.4s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(2px, -2px);
  }

  50% {
    transform: translate(-2px, 2px);
  }

  75% {
    transform: translate(2px, 2px);
  }

  100% {
    transform: translate(0);
  }
}



/*Chefs----------------------------------------------*/
#chefs {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 1200px;
  display: flex;
  align-items: center;
}

.crad {
  width: 100px;
  height: 100px;
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

/*for icons inside cards*/

.card .social-icons {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  width: 36px;
  transform: translateX(100%);
  transition: transform 0.5s, opacity 0.3s;
}

.card .social-icons a {
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  display: block;

}

/* Show icons on card hover */
.card:hover .social-icons {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);

}

.card .social-icons a {
  color: black;
  text-align: center;
  padding: 10px 6px;
  font-size: 18px;
  display: block;

}

.card .social-icons a:hover {
  color: black;
  text-decoration: none;

}


/*gallary----------------------------------------------*/
#gallery {
  background-color: #f8f9fa;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 1200px;
  display: flex;
  align-items: center;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  height: 250px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.gallery-item.tall {
  height: 600px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

/* Overlay background */
.gallery-item::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 1;
}

/* Overlay text */
.gallery-item .overlay-text {
  position: absolute;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  transition: opacity 0.4s;
  text-align: center;
}

/* Show overlay on hover */
.gallery-item:hover::before,
.gallery-item:hover .overlay-text {
  opacity: 1;
}


/*Cotact----------------------------------------------*/
#contact {
  background: #fff;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 1200px;
  display: flex;
  align-items: center;
}

.map-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 3px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.info-box {
  background: #f1f1f1;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 3px;
  height: 70px;
}

.info-box h6 {
  margin: 0;
  font-weight: 600;
  font-size: 18.72px
}

.info-box p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.contact-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.contact-form {
  background: #fff;
  border-radius: 3px;
}

.contact-form .form-control {
  border-radius: 4px;
}

.contact-box .contact-form .btn {
  border-radius: 50px;
  width: 140px;
  height: 45px;
}

.red-circle {
  width: 40px;
  height: 40px;
  background-color: #E50914;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}


/*footer----------------------------------------------*/

footer {
  background: url("../Images/footer.jpg") center / cover no-repeat;
  color: #fff;
  padding: 60px 0;
  position: relative;
}

/* Dark overlay */
.footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
}

.footer-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 40px;
  position: relative;
  z-index: 1;
}

.footer-col p {
  color: #ccc;
  margin: 15px 0;
}

.footer-col h2,
.footer-col h3 {
  margin-bottom: 15px;
}

/* LEFT */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;

}

.logo img {
  width: 45px;
  height: 45px;
}

.footer-col.left {
  text-align: left;
}


.footer-col.left h3 {
  text-align: center;
  margin-top: 30px;
}

/*line under Social Media */
.footer-col.left h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  margin: 10px auto 20px;
}

/* Center social icons */
.footer-col.left .social {
  justify-content: center;
}

.social {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.social i {
  font-size: 20px;
}

/* CENTER */
.subscribe {
  display: flex;
  margin: 20px 0;
}

.subscribe input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
}

.subscribe button {
  background: #E61414;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 40px;
}

.links ul {
  list-style: none;
  width: 100%;
}

.links li {
  position: relative;
  padding: 10px 15px;
  transition: 0.3s;
  padding-left: 0.3s;
}


.links li:hover {
  background: rgba(255, 255, 255, 0.08);
  padding-left: 25px;
}

/* RIGHT */
.right p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-icon {
  color: #c90303;
}


/* RESPONSIVE---------------------------------------------- */

@media (max-width: 1000px) {

  /* Container */
  .container {
    max-width: 90%;
  }

  /* Navbar */
  .navbar-brand {
    font-size: 24px;
  }

  .navbar-nav {
    text-align: center;
  }

  /* Home */
  #Home {
    height: auto;
    padding: 120px 0 80px;
    text-align: center;
  }

  .home-img {
    max-width: 80%;
    margin-top: 40px;
  }

  /* Chefs */
  #chefs {
    height: auto;
    padding: 120px 0;
  }

  .card:hover {
    transform: scale(1.05);
  }

  /* Gallery */
  #gallery {
    height: auto;
    padding: 120px 0;
  }

  .gallery-item,
  .gallery-item.tall {
    height: 300px;
  }

  /* Contact */
  #contact {
    height: auto;
    padding: 120px 0;
  }

  .info-box {
    height: auto;
    padding: 15px;
  }

  /* Footer */
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-col.left h3::after {
    width: 50%;
  }

  .social {
    justify-content: center;
  }

  .links {
    flex-direction: column;
    gap: 20px;
  }
}

